@model ProfileModel
@{
    ViewData["Title"] = "ProfileView";
}

<div class="container">
    <form method="get">
        <h3 class="mt-5">Profile</h3>

        <div class="col text-right">
            <button class="btn btn-primary btn-lg mb-2" type="submit">Edit</button>
        </div>

        <h5 class="pb-3">@Model.StudentName</h5>
        <p><b>Major:</b></p>
        <p>@Model.Major</p>
        <p><b>Minor:</b></p>
        <p>@Model.Minor</p>

        <div class="form-group mb-1">
            <div class="col text-center">
                <button class="btn btn-primary btn-block mt-300" type="submit" formmethod="get" asp-controller="Account" asp-action="SignInView">Sign Out</button>
            </div>
        </div>

        <nav class="navbar fixed-bottom btn-group" role="group">
            @await Html.PartialAsync("_FooterNavBar", Model.UserId);
        </nav>
    </form>
        
</div>
