@model IEnumerable<ClassInfoViewModel>
@{
    ViewData["Title"] = "ClassesView";
}

<div class="container">
    <form method="get">
        <h3 class="mt-5">Classes</h3>

        <div class="list-group list-group-classes">
            @foreach (var course in Model)
            {
                @await Html.PartialAsync("_ClassInfo", course);
            }
        </div>

        <div class="form-group mb-1">
            <div class="col text-center">
                <button class="btn btn-primary btn-block mt-5" type="submit" asp-action="AddNewClassView" asp-controller="Classes">+New Class</button>
            </div>
        </div>

        <nav class="navbar fixed-bottom btn-group" role="group">
            @await Html.PartialAsync("_FooterNavBar", TempData.Peek("UID"));
        </nav>
    </form>   
</div>
