@model IEnumerable<ClassInfoViewModel>
@{
    ViewData["Title"] = "MainScreenView";
}

<div class="container">
    <form method="get">
        <h5 class="mt-5">Choose a class</h5>
        <div class="list-group">
            @foreach (var course in Model)
            {
                @await Html.PartialAsync("_ClassInfo", course);
            }
        </div>
        <nav class="navbar fixed-bottom btn-group" role="group">
            @await Html.PartialAsync("_FooterNavBar", TempData.Peek("UID"));
        </nav>
    </form>
    
</div>
