@model int

<button type="submit" class="btn btn-primary-outline" asp-action="ClassesView" asp-controller="Classes" asp-route-userId="@Model">
    <i class="fa fa-2x fa-book"></i>
    <small class="row text-center justify-content-center"><b>Classes</b></small>
</button>
<button type="submit" class="btn btn-primary-outline" asp-action="MainScreenViewWithUserId" asp-controller="MainScreen" asp-route-userId="@Model">
    <img src="~/images/logo.png" width="70" height="70" />
</button>
<button type="submit" class="btn btn-primary-outline" asp-action="ProfileView" asp-controller="Profile" asp-route-userId="@Model">
    <i class="fa fa-2x fa-user"></i>
    <small class="row text-center justify-content-center"><b>Profile</b></small>
</button>