@model IEnumerable<Ta>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
    <div class="main">
        <h2>Ta-click to check Ta information</h2>
        <div class="list-group">
            @foreach (var ta in Model)
            {
                <a asp-action="EditTa" asp-controller="Professor" asp-route-id=@ta.Id >
                    <div class="list-group-item list-group-item-action">
                        <h5 class="row ml-2 mt-1">
                            @ta.Name
                        </h5>
                        <small class="row ml-2">Ta Id: @ta.Id</small>
                        <small class="row ml-2">Current Teaching: @ta.Course_Id</small>
                    </div>

                </a>
            }
        </div>
    </div>

<style>
    .main {
         margin-top: 100px;
        margin-left: 200px; /* Same as the width of the sidenav */
        font-size: 20px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }
</style>
